@import "./lib_scss/fonts.scss";
@import "./lib_scss/mixin_variables.scss";
@import "./lib_scss/header_footer.scss";
@import "./lib_scss/mainpage.scss";
@import "./lib_scss/tooltip.scss";
@import "./lib_scss/searchbar.scss";
@import "./lib_scss/list_title.scss";
@import "./lib_scss/list_columns.scss";
@import "./lib_scss/menu.scss";
@import "./lib_scss/dialog.scss";
@import "./lib_scss/mentionspage.scss";
@import "./lib_scss/transition.scss";

:root{
    font-size: 100%;
}

body{
    margin: 0;
    min-height: 100vh;
    padding: 80px 80px 40px 80px;
    @include BoxSizing(border-box); 
    font: 16px 'Manrope', Arial, sans-serif;
    font-weight: 400;
}

//GENERAL TYPOGRAPHY
h1{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

h2{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

h3{
    margin: 0;
}

p{
    margin: 0;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: $colorBLack;
    cursor: pointer;
}

a:hover{
    color: $colorPink;
    img{
        filter: $filterLogoHover;
    }
}

//GENERAL CLASSES
.hide_item{
    visibility: hidden;
}
.not_display_item{
    display: none;
}


//LIGHT MODE
.light_mode{
    @include Theme();
}

//DARK MODE
@media (prefers-color-scheme: dark) {
    body {
        @include Theme($theme: $colorBgDark, $txtColor: $colorWhite);
    }
}

.dark_mode{
    @include Theme($theme: $colorBgDark, $txtColor: $colorWhite);
}

.dark_mode a{
    color: $colorWhite;
}

.dark_mode a:hover{
    color: $colorPink;
    img{
        filter: $filterLogoHover;
    
    }

    #m_img_princiaple{
        filter: $filterImgHover;
    }
}

.dark_mode button{
    color: $colorWhite;
}

//MEDIA QUERY
@media screen and (max-width: 1140px) {
    body{
        padding: 30px;
    }
}

@media screen and (max-width: 750px) {
    body{
        font-size: 14px;
    }

}

@media screen and (max-width: 425px) {
    h1{
        font-size: 28px;
    }

    h2{
        font-size: 20px;
    }

}

@media screen and (max-width: 320px) {
    body{
        padding: 20px;
    }
}
