//TITLE
#title_div{
    display: flex;
    align-items: center;
    gap: 15px;

    p{
        height: 30px;
        width:30px;
    }
}

#title_btn{
    width: 100%;
    height: 100%;
    padding: 0;
    @include Appearance(none);
    border: none;
    background-color: transparent;
    background-image: url("./ressources/images/pen_24x27.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#title_btn:hover{
    filter: $filterLogoHover;
}

//list
#list_div{
    margin-top: 80px;
    margin-bottom: 80px;

    h2{
        padding: 15px 160px;
        @include BoxSizing(border-box); 
        border: solid 3px;
        border-radius: 10px;
        @include BoxShadow();
        margin-bottom: 30px;
    }
    
}

.align_self{
    align-self: flex-end;
}

.width_percent{
    width:100%
}

.task_zone{
    width: 400px;
    padding: 5px 25px 25px 25px;
    @include BoxSizing(border-box); 
    border: solid 3px;
    border-radius: 10px;
    @include BoxShadow();
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn_options {
    font-size: 32px;
    font-weight: 700;
    color: $colorBLack;
    opacity: 0.6;
    width: 100%;
    padding: 0;
    @include Appearance(none);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn_options:hover{
    color: $colorPink;
}

.drop_zone{
    width:100%;
    min-height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn_add {
    font-size: 36px;
    color: $colorBLack;
    opacity: 0.6;
    width: 100%;
    height: 55px;
    @include Appearance(none);
    @include BorderBtnAdd();
    background-color: transparent;
    @include BoxShadow($colorShadowLight, 0, 4px, 4px, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    span{
        font-size: 20px;
    }
}

.btn_add:hover{
    background-color: $colorPink;
    color: $colorWhite
}

//COL1
#col1_div{
    h2, div{
        border-color: $colorOrange;
    }
}



//DARK MODE
.dark_mode #title_btn:hover{
    filter: $filterLogoDark;
}

.dark_mode #col1_div{

    h2{
        @include BoxShadow($colorShadowDark);
    }

}
