//LIST TITLE COLUMNS
#list_div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.list_columns{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.box_titles{
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zone_tasks{
    padding: 0.3125rem 1.5625rem 1.5625rem 1.5625rem;
    @include BoxSizing(border-box); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border{
    border: solid 0.1875rem;
    border-radius: 0.625rem;
    @include BoxShadow();
}

.col1 {
    border-color: $colorOrange;
}

.col2{
    border-color: $colorYellow;
}

.col3{
    border-color: $colorGreen;
}


.align_self{
    align-self: flex-end;
}

.btn_options {
    font-size: 2rem;
    font-weight: 700;
    color: $colorBLack;
    opacity: 0.6;
    padding: 0;
    @include Appearance(none);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn_options:hover{
    color: $colorPink;
}

.drop_zone{
    width:100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 800px;
    margin: 0.625rem;
    overflow-y: auto;
}

.drop_zone::-webkit-scrollbar{
    @include BorderShadow();
    @include BoxShadow();
    border-radius: 0.625rem;
}

.width_100{
    width: 100%;
}

.btn_add {
    font-size: 2.25rem;
    color: $colorBLack;
    opacity: 0.6;
    width: 96%;
    height: 55px;
    @include Appearance(none);
    @include BorderShadow();
    background-color: transparent;
    @include BoxShadow($colorShadowLight, 0, 0.25rem, 0.25rem, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    margin-left: 0.625rem;
    gap: 0.625rem;
    span{
        font-size: 1.25rem;
    }
}

.btn_add:hover{
    background-color: $colorPink;
    color: $colorWhite;
}



//DARK MODE
.dark_mode .border{
    @include BoxShadow($colorShadowDark);
}

.dark_mode .btn_options {
    color: $colorWhite;
    opacity: 0.9;
}

.dark_mode .btn_options:hover {
    color: $colorPink;
}

.dark_mode .btn_add {
    opacity: 0.9;
    @include BorderShadow($colorShadowDark);
    @include BoxShadow($colorShadowDark, 0, 0.25rem, 0.25rem, 0);
}

.dark_mode .btn_add:hover{
    color: $colorWhite;
    opacity: 1;
}

.dark_mode .drop_zone::-webkit-scrollbar{
    @include BorderShadow($colorShadowDark);
    @include BoxShadow($colorShadowDark);
}

//MEDIA QUERY
@media screen and (max-width: 1140px) {
    #list_div{
        gap: 1.25rem;
    }
}

@media screen and (max-width: 1023px) {
    #list_div{
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
    }

    .list_columns{
        gap: 0.9375rem;
    }
}

@media screen and (max-width: 425px) {
    #list_div{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .box_titles{
        height: 40px;
    }

    .zone_tasks{
        padding: 0 0.9375rem 0.9375rem 0.9375rem;
    }

    .btn_options {
        font-size: 1.75rem;
    }

    .btn_add {
        font-size: 1.5rem;
        height: 40px;
        span{
            font-size: 1rem;
        }
    }
}

