//MAIN PAGE
//button dark/light mode
#btn_mode{
    width: 50px;
    height: 50px;
    @include Appearance(none);
    border: none;
    background-color: transparent;
    background-image: url("./ressources/images/btn_dark_mode_50x50.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#btn_mode:hover{
    filter: $filterImgHover;
}



//DARK MODE
.dark_mode #btn_mode{
    background-image: url("./ressources/images/btn_light_mode_50x48.webp");
}


//MEDIA QUERY
@media screen and (max-width: 750px) {
    #btn_mode{
        width: 30px;
        height: 30px;
    }
}
