#body_mentions{
    //for having footer always at bottom
    display: flex;
    flex-direction: column;
}

#m_container{
    // for having component center
    display: flex;
    flex-direction: column;
    align-items: center;
}

#m_component{
    width: 600px;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    text-align: center;

    h1{
        margin-bottom: 5rem;
    }

    p{
        margin-bottom: 1.5625rem;
    }
}

a:hover #m_img_princiaple{
    filter: $filterImgHover;
}

@media screen and (max-width: 600px) {
    #m_component{
        width: 300px;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 320px) {
    #m_component{
        width: 250px;
    }
}