.menu_container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}

.menu_container.active {
    visibility: visible;
    z-index: 100;
}

.menu_component{
    width: 250px;
    background-color: $colorWhite;
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
    @include BoxSizing(border-box);
    position: relative;
    @include BoxShadow($colorShadowLight, 0, 4px, 4px,0);
    h2{
        text-align: center;
        margin-bottom: 10px;
    }
}

.menu_container.active .menu_component {
    visibility: visible;
    opacity: 1;
}

.menu_component menu{
    padding: 0;
    margin: 0;
    width: 80%;

    li{
        list-style: none;
        margin-top: 20px;
        cursor: pointer;
    }
    
    li:hover{
        color: $colorPink;
    }
}

.btn_close_menu {
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    color: $colorBLack;
    font-size: 28px;
    font-weight: 700;
    opacity: 0.6;
    cursor: pointer;
}

.btn_close_menu:hover {
    color: $colorPink;
}


//DARK MODE
.dark_mode .menu_component{
    background-color: $colorBgDark;
    @include BorderShadow($colorShadowDark);
    @include BoxShadow($colorShadowDark, 0, 4px, 4px,0);
}

.dark_mode .btn_close_menu {
    color: $colorWhite;
    opacity: 0.9;
}

.dark_mode .btn_close_menu:hover {
    color: $colorPink;
}