//MIXIN AND VARIABLES

$colorGreen: #DBE245;
$colorYellow: #FBDC05;
$colorOrange: #F9AE2E;
$colorPink:#EC559D;
$colorBlue: #00B5DE;
$colorBLack: #130E0A;
$colorWhite: #FEFEFE;
$colorBgDark: #2C2C2C;
$colorError: #E91139;
$colorShadowLight : rgba(0, 0, 0, 0.25);
$colorShadowDark : rgba(255, 255, 255, 0.25);
$filterLogoHover : invert(47%) sepia(52%) saturate(1338%) hue-rotate(299deg) brightness(96%) contrast(93%);
$filterImgHover : invert(47%) sepia(52%) saturate(1338%) hue-rotate(299deg) brightness(116%) contrast(303%);
$filterLogoDark : invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(103%) contrast(204%);

@mixin Theme($theme: $colorWhite, $txtColor: $colorBLack){
    background-color: $theme;
    color: $txtColor;
}


@mixin BoxSizing($kindOfBox){
    -webkit-box-sizing: $kindOfBox;
    -moz-box-sizing: $kindOfBox;
    box-sizing: $kindOfBox;
}

@mixin Appearance($howAppear){
    -webkit-appearance: $howAppear;
    -moz-appearance: $howAppear;
    appearance: $howAppear;
}


@mixin BoxShadow($color: $colorShadowLight, $offset-x: -5px, $offset-y: 5px, $blur-radius: 5px, $spread-radius: 0){
    box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

@mixin BorderBtnAdd($color: $colorShadowLight){
    border-top: solid 1px $color;
    border-right: solid 1px $color;
    border-bottom: none;
    border-left: solid 1px $color;
    border-radius: 10px;
}