$searchWidth : 425px;
$searchHeight : 45px;
$logoSize : 25px;

#search_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 75px;
    margin-bottom: 50px;
}

#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_form {
    width: $searchWidth;
    height: $searchHeight;
    position: relative;
}

#input_search {
    width: 100%;
    height: $searchHeight;
    padding: 0 20px;
    @include BoxSizing(border-box);
    border: 1px solid $colorBlue;
    border-radius: 20px;
    @include BoxShadow();
    position: relative;
    text-indent: 15px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

#input_search:focus {
    border: none;
    outline: 1px solid $colorPink;
    cursor: text;
}

#input_search::placeholder {
    color: $colorBLack;
    opacity: 0.6;
}

.item_not_valid #input_search:invalid::placeholder {
    color: $colorError;
    opacity: 1;
}

#btn_erase {
    z-index: 20;
    width: $logoSize;
    height: $logoSize;
    font-weight: 700;
    transform: translate(calc($searchWidth - ($logoSize * 2.8)), calc(($logoSize / 5) - $searchHeight ));
    background-color: transparent;
    border: none;
    opacity: 0.6;
    cursor: pointer;
}

#submit {
    z-index: 2;
    width: $logoSize;
    height: $logoSize;
    transform: translate(calc($searchWidth - ($logoSize * 2.5)), calc(($logoSize / 2.5)  - $searchHeight ));
    background-color: transparent;
    border: none;
    background-image: url("./ressources/images/magnifier_14x23.webp");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#input_search:hover{
    border: none;
    outline: 1px solid $colorPink
}

#btn_erase:hover,
#submit:hover {
    filter: $filterLogoHover;
}

.item_hiden{
    visibility: hidden;
}

.item_shown{
    visibility: visible;
}

.word_not_found{
    color: $colorError;

}

//DARK MODE
.dark_mode #input_search {
    background-color: $colorBgDark;
    color: $colorWhite;
    @include BoxShadow($colorShadowDark);
}

.dark_mode #input_search::placeholder {
    color: $colorWhite;
    opacity: 0.8;
}

.dark_mode #btn_erase{
    opacity: 0.9;
}

.dark_mode #submit {
    filter: $filterLogoDark;
}

.dark_mode #btn_erase:hover,
.dark_mode #submit:hover {
    filter: $filterLogoHover;
}

//MEDIA QUERY
@media screen and (min-width : 2000px) {
    $searchHeight : 50px;

    #search_form {
        height: $searchHeight;
    }

    #input_search {
        height: $searchHeight;
        font-size: 16px;
    }

    #btn_erase {
        transform: translate(calc($searchWidth - ($logoSize * 2.8)), calc(($logoSize / 4) - $searchHeight ));
    }

    #submit {
        transform: translate(calc($searchWidth - ($logoSize * 2.6)), calc(($logoSize / 2) - $searchHeight ));
    }

}

@media screen and (max-width : 500px) {
    $searchWidth : 350px;
    $searchHeight : 35px;
    $logoSize : 20px;
    
    #search_bar {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #search_form {
        width: $searchWidth;
        height: $searchHeight;
    }

    #input_search {
        height: $searchHeight;
        font-size: 14px;
    }

    #btn_erase {
        width: $logoSize;
        height: $logoSize;
        transform: translate(calc($searchWidth - ($logoSize * 3.5)), calc(($logoSize / 5) - $searchHeight ));
    }

    #submit {
        width: $logoSize;
        height: $logoSize;
        transform: translate(calc($searchWidth - ($logoSize * 3.3)), calc(($logoSize / 2.5) - $searchHeight ));
    }

}

@media screen and (max-width : 375px) {
    $searchWidth : 315px;

    #search_form {
        width: 100%;
    }

    #btn_erase {
        transform: translate(calc($searchWidth - ($logoSize * 3.3)), calc(($logoSize / 1.8) - $searchHeight ));
    }

    #submit {
        transform: translate(calc($searchWidth - ($logoSize * 3.1)), calc(($logoSize / 1.4) - $searchHeight ));
    }

}

@media screen and (max-width : 350px) {
    $searchWidth : 280px;

    #search_form {
        width: $searchWidth;
    }

    #btn_erase {
        transform: translate(calc($searchWidth - ($logoSize * 3)), calc(($logoSize / 1.8) - $searchHeight ));
    }

    #submit {
        transform: translate(calc($searchWidth - ($logoSize * 2.8)), calc(($logoSize / 1.4) - $searchHeight ));
    }

}