.item{
    @include BorderShadow();
    border-radius: 10px;
    padding: 15px 20px;
    @include BoxSizing(border-box);
    margin: 10px;
    background-color: transparent;
    @include BoxShadow($colorShadowLight, 0, 4px, 4px, 0);
    cursor: grab;

}

.item:active{
    cursor: grabbing;
}

#task_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    div{
        display: flex;
        align-items:end;
        gap: 15px;
    }
}

.task_title{
    max-height: 40px;
    overflow-y: auto;
}

.task_btn_options {
    font-size: 24px;
    font-weight: 700;
    color: $colorBLack;
    opacity: 0.6;
    padding: 0;
    @include Appearance(none);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.task_btn_options:hover{
    color: $colorPink;
}

.task_select{
    width: 15px;
    height: 15px;
    margin: 0;
    cursor: pointer;
}

.task_date,
.task_description{
    margin-bottom: 10px
}

.task_description{

    max-height: 100px;
    margin-right: 5px;
    overflow-y: auto;

}

.task_title::-webkit-scrollbar,
.task_description::-webkit-scrollbar{
    @include BorderShadow();
    @include BoxShadow();
    border-radius: 10px;
}

.task_hide{
    display: none;
}

//DARK MODE
.dark_mode .item{
    @include BorderShadow($colorShadowDark);
    @include BoxShadow($colorShadowDark, 0, 4px, 4px, 0);
}

.dark_mode .task_btn_options {
    color: $colorWhite;
    opacity: 0.9;
}

.dark_mode .task_btn_options:hover{
    color: $colorPink;
}
